@*@model IEnumerable<SEDC.DifferentPizzaApp.Models.ViewModels.PizzaVM>

@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <ul>
                @foreach(var ing in item.Ingredients)
                    {
                    <li>
                        @Html.DisplayFor(ingItem => ing.Name) |
                        @Html.DisplayFor(ingItem => ing.Weight) 
                    </li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                
            </td>
        </tr>
}
    </tbody>
</table>*@
